/**Macro***********************************************************************

  Synopsis     [required]

  Description  [optional]

  SideEffects  [required]

  SeeAlso      [optional]

******************************************************************************/
#define 
